 /*Global*/

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u-w4BMUTPHjxsIPx-oPCLC79U1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin:0;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
}

h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 45px;
  padding: 15px 20px;
  border-left: 6px solid black;
}

h3 {
  font-weight: 300;
  font-size: 35px;
  text-align: center;

}

ul {
  display: inline-block;
}

ul, li {
  list-style: none;
}

hr {
  color: black;
  border: 3px solid black;
}

button {
  width: 210px;
  height: 70px;
  font-size: 25px;
  border: 6px outset rgb(32,178,170);
  border-radius: 4%;
  background-color: rgba(32,178,170, 0.9);
  font-weight: bold;
  color: seashell;
  margin-bottom: 20px;
}
 
 /*Colors*/

 .lightseagreen, li.lightseagreen, .deeppink, li.deeppink, .seashell, li.seashell {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  font-size: 30px;
  top: 30px;
}

.lightseagreen, li.lightseagreen {
  background-color: lightseagreen;
  left: 100px;
}

.deeppink, li.deeppink {
  background-color: deeppink;
  left: 300px;
}

.seashell, li.seashell {
  background-color: seashell;
  left: 500px;
}

/*Fonts*/
.fontsize {
  font-size: 40px !important;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.lato, .lato li, .arial, .arial li, .georgia, .georgia li {
  position: relative;
  font-size: 21px;
  text-align: center;
}

.lato, .lato li {
  font-family: 'Lato', sans-serif;
  left: 35px;
}

.arial, .arial li {
  font-family: 'Arial', sans-serif;
  left: 135px;
}

.georgia, .georgia li {
  font-family: 'Georgia', serif;
  left: 215px;
}


/*Buttons*/

article {
  position: relative;
  display: inline-block;
  left: 100px;
  padding-right: 250px;
}

.hover-button {
  color: seashell;
  border: 6px outset deeppink;
}
 
 .active-button {
   background-color: deeppink;
   border: 6px inset rgb(255,20,147);
 }



  
